<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Oauth2.0 TEST</title>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--        <script src="https://cdn.jsdelivr.net/jquery.ajax-cross-origin/1.0.6/jquery.ajax-cross-origin.min.js"></script>-->
        <script th:inline="javascript">
            $(document).ready(() => {
                $.ajaxPrefilter('json', function(options, orig, jqXHR) {
                    if (options.crossDomain && !$.support.cors) return 'jsonp'
                });

                $("#join").click(() => {
                    $("#join-div").show();
                });

                $("#join-send").click(() => {
                   $.ajax({
                       url: "http://localhost:8000/api/users/join"
                       , method: "POST"
                       , headers: {"Access-Control-Allow-Origin" : "*"}
                       , crossDomain: true
                       , dataType: "json"
                       , contentType: "application/json; charset=utf-8"
                       , data: JSON.stringify ({
                           email: $("#join-email").val()
                           ,password: $("#join-password").val()
                       })
                   })
                       .done((data) => {
                           if (data) {

                               $("#login-email").val($("#join-email").val());
                               $("#join-email").val('');
                               $("#login-password").val($("#join-password").val());
                               $("#join-password").val('');
                               $("#join-div").hide();
                           } else {
                               alert("저장 실패 재시도 필요");
                           }
                       })
                       .fail((xhr, status, errorThen) => {
                           console.error(xhr.responseText)
                       })
                    ;
                });

                $("#login-btn").click(() => {
                    $.ajax({
                        url: "http://127.0.0.1:8000/api/login"
                        , method: "POST"
                        , headers: {"Access-Control-Allow-Origin" : "*"}
                        , crossDomain: true
                        , dataType: "json"
                        , contentType: "application/json; charset=utf-8"
                        , data: JSON.stringify ({
                            email: $("#login-email").val()
                            ,password: $("#login-password").val()
                        })
                    })
                        .done((data) => {
                            if (data) {
                                $("#token").val('Bearer '+data.AccessToken)
                                $("#test-page").show()
                            }
                        })
                        .fail((xhr, status, errorThen) => {
                            console.error(xhr.responseText)
                        })
                    ;
                });

                $("#text-button").click(() => {
                    $.ajax({
                        url: "http://127.0.0.1:8000/api/users"
                        , method: "GET"
                        , headers: {
                            "Access-Control-Allow-Origin" : "*"
                            , "Authorization": $("#token").val()
                        }
                        , dataType: "json"
                        , contentType: "application/json; charset=utf-8"
                    })
                        .done((data) => {
                            $("#result").html(data);
                        })
                        .fail((xhr, status, errorThen) => {
                            console.error(xhr.responseText)
                        })
                });
            })
        </script>
        <style>
            .login-div {
                width: 300px;
                height: 220px;
                outline: dashed 1px black;
            }
            .login-sub-div {
                width: 100%;
                margin-top: 10px;
            }
            .title-label {
                width: 20%;
                display: inline-block;
                text-align: center;
            }
            .text-label {
                width: 60%;
                display: inline;
            }
            .btn-image {
                width: 100px;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div class="login-div">
            <div style="text-align: center">Login</div>
            <div style="height: 62px">
                <div style="width: 70%; float: left">
                    <div class="login-sub-div">
                        <div class="title-label">Email</div>
                        <div class="text-label">
                            <input type="text" id="login-email">
                        </div>
                    </div>
                    <div class="login-sub-div">
                        <div class="title-label">PW</div>
                        <div class="text-label">
                            <input type="text" id="login-password">
                        </div>
                    </div>
                </div>
                <div style="width: 25%; height: 100%; display: inline-block;">
                    <input style="height: 89%;margin-top: 9px;" type="button" value="Login" id="login-btn">
                </div>
            </div>
            <div style="margin-top: 10px; text-align: center;">
                <input type="button" id="join" value="회원가입" />
            </div>
            <div style="text-align: center; margin-top: 10px;">
                <img src="http://127.0.0.1:8000/api/attach-image?type=GOOGLE"
                     class="btn-image" onclick="location.href='http://127.0.0.1:8000/oauth2/authorization/google?redirect_uri=http://127.0.0.1:8000/oauth/redirect'"/>
                <br>
                <img src="http://127.0.0.1:8000/api/attach-image?type=NAVER" class="btn-image"
                     onclick="location.href='http://127.0.0.1:8000/oauth2/authorization/naver?redirect_uri=http://127.0.0.1:8000/oauth/redirect'"/>
                <br>
                <img src="http://127.0.0.1:8000/api/attach-image?type=KAKAO" class="btn-image"
                />
            </div>
        </div>
        <div id="join-div" style="text-align: center; width: 300px; display: none;">
            <h1>Join</h1>
            <div>
                <div class="login-sub-div">
                    <div class="title-label">Email</div>
                    <div class="text-label">
                        <input type="text" id="join-email" value="system@naver.com">
                    </div>
                </div>
                <div>
                    <div class="title-label">Password</div>
                    <div class="text-label">
                        <input type="password" id="join-password" value="1234">
                    </div>
                </div>
                <div>
                    <div class="title-label">Re Passowrd</div>
                    <div class="text-label">
                        <input type="password" id="join-re-password" value="1234">
                    </div>
                </div>
                <div>
                    <input type="button" id="join-send" value="가입하기">
                </div>
            </div>
        </div>
        <div id="test-page">
            <div>
                <p>토큰</p>
                <input type="text" id="token">
            </div>
            <input type="button" id="text-button" value="테스트 발송">
            <div id="result"></div>
        </div>
    </body>
</html>